.module-page {
  &.is-regular {
    .text {
      padding: 2em;

      p {
        margin: 0 0 1em 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    .action {
      border-top: 1px solid $color-background-light;
      background: $color-background-lighter;
      padding: 2em;
    }
  }

  &.is-access {
    margin: 16em 0;

    @include gridle_state(tablet) {
      margin: 12em 0;
    }

    @include gridle_state(mobile) {
      margin: 8em 0;
    }

    .heading {
      border-bottom: 1px solid rgba(255, 255, 255, .16);
      text-align: center;
      padding: 0 0 4em 0;
      margin: 0 0 4em 0;

      h1 {
        color: $color-white;
        font-size: 2em;
      }
    }

    .error {
      p {
        color: $color-white;
        font-size: 1.2em;
        margin: 0;
      }
    }
  }
}
