$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #C0C4CC;

$color-background-dark: #e0e0e0;
$color-background-light: #f0f0f0;
$color-background-lighter: #f9f9f9;

$color-black: #000000;
$color-primary: #2e80a6;
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-white: #FFFFFF;

$radius: 4px;
